.env
.env.*.php
.env.php
/vendor
/.vscode
/node_modules
/storage/*.key
/storage/app/backup
/storage/cache_keys.json
public/storage
public/error_log

.phpunit.result.cache
/storage/.license
/storage/fonts
/storage/installing
/storage/installed

/log

storage/framework/laravel-excel/
/.scribe
